<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Create a user</h1>
    <form action="/register" method="POST">
        <p>Username:<br>
        <input type="text" name="username" required></p>
        <p>Password:<br>
        <input type="password" name="password1" required></p>
        <p>Repeat password:<br>
        <input type="password" name="password2" required></p>
        <input type="submit" value="Sign up">
    </form>
    <p>{{ error_message | safe }}</p>
</body>
</html>