<title>Etusivu</title>
<h1>Etusivu</h1>

<p>{{ message }}</p>
<ul>
{% for item in items %}
<li> {{ item }}
{% endfor %}

</ul>
<p>Tästä voit mennä <a href="/FrontpageTest">ChallengesTesti</a>.</p>
</ul>
<p><a href="/Frontpage">Home</a>.</p>
</ul>
<p>Tästä voit mennä <a href="/Front3">Challenges3</a>.</p>
</ul>
<p>Tästä voit mennä <a href="/loging">login</a>.</p>
</ul>
<p>Tästä voit mennä <a href="/page1">page1</a>.</p>
</ul>
<p></p>Tästä voit mennä <a href="/page2">page2</a>.</p>
</ul>
Tästä voit mennä <a href="/form">form</a>.>
</ul>
Tästä voit mennä <a href="/order">order</a>.>
</ul>

<img src="/static/maapallo.jpg">

